:root {
  --dominant-color: #fff;
  --dominant-color-hover: rgba(0, 0, 0, 0.05);

  --secondary-color: #0f1419;
  --secondary-color-hover: #272c30;

  --accent-color: #167ac6;
  --dark-gray: #767676;
  --light-gray: #d5d5d5;
  --lighter-gray: #eff3f4;

  --warning-color: #c61616;
  --warning-color-hover: #cc2d2d;

  --primary-font: Roboto, Meiryo, Arial, sans-serif;
  
  --soft-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Roboto;
  src: url("/src/lib/assets/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("/src/lib/assets/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
}

/* a11y: タブ時のみフォーカスを表示する */
:focus {
  outline: 2px solid var(--accent-color);
}

.using-mouse :focus {
  outline: none;
}
